<div class="PetGivingRecord">
  <p class="PetGivingRecordTitle">送養紀錄</p>
  <div class="Line"></div>
  <table>
    <div class="tableTitle">
      <thead>
        <th>#</th>
        <th>寵物名稱</th>
        <th>狀態</th>
        <th>刊登日期</th>
        <th></th>
      </thead>
    </div>
    <tbody>
      <!-- 要遍歷 -->
      <div class="tableBody">
        <tr>
          <td>1</td>
          <td>阿金</td>
          <td>刊登中</td>
          <td>2023/10/17</td>
          <td><input type="radio" name="petSelected"></td>
        </tr>
      </div>
      <div class="tableBody">
        <tr>
          <td>2</td>
          <td>阿喵</td>
          <td>審核中</td>
          <td></td>
          <td><input type="radio" name="petSelected"></td>
        </tr>
      </div>
    </tbody>
  </table>
  <div class="buttonContainer">
    <button>更改資訊</button>
    <button>取消刊登</button>
  </div>
</div>
