<div class="ApplyRecord">
  <p class="ApplyRecordTitle">我的收藏</p>
  <div class="Line"></div>
  <table>
    <div class="tableTitle">
      <thead>
        <th>#</th>
        <th>寵物名稱</th>
        <th>寵物連結</th>
        <th>申請日期</th>
      </thead>
    </div>
    <tbody>
      <!-- 要遍歷 -->
      <div class="tableBody">
        <tr>
          <td>1</td>
          <td>阿金</td>
          <td>❤️</td>
          <td>2023/10/17</td>
        </tr>
      </div>
      <div class="tableBody">
        <tr>
          <td>2</td>
          <td>阿金</td>
          <td>❤️</td>
          <td>2023/10/17</td>
        </tr>
      </div>
    </tbody>
  </table>
</div>
