<div class="messagePage">
  <p class="messagePageTitle">站內訊息</p>
  <div class="Line"></div>
  <table>
    <tbody>
      <!-- 要遍歷 -->
      <div class="tableBody">
        <!-- 點tr會跳到他們的聊天窗 -->
        <tr><a routerLink="/member/chatroom" routerLinkActive="active">
          <!-- 把圖片拿掉，因為會員基本資料也沒傳圖片 -->
          <td class="name">小明</td>
          <td class="message">嗨!!!</td>
          <td class="date">2023/10/17</td>
          </a>
        </tr>
      </div>
      <div class="tableBody">
        <tr>
          <td class="name">張張</td>
          <td class="message">你好!!</td>
          <td class="date">2023/10/17</td>
        </tr>
      </div>
    </tbody>
  </table>
</div>
