<body>
  <div class="FrameContainer">
    <!-- 點不同圓圈會更換不同圖片，有空再用xd -->
    <img class="Frame" src="assets\images\布告欄.jpg" />
    <div class="SlideDot">
      <div class="Ellipse1"></div>
      <div class="Ellipse2"></div>
      <div class="Ellipse3"></div>
    </div>
  </div>
  <br>
  <div class="BenefitsContainer">
    <div class="BenefitsText">寵物領養的好處?</div>
    <div class="BenefitsDescription">
      <br>
      <span>1.可以獲得很多資源和幫助</span>
      <br />
      <span>2.減少不少養殖場的獲利，減少虐待動物的產生</span>
      <br />
      <span>3.選擇種類非常多</span>
      <br />
      <span>4.可以選擇認養成犬</span>
    </div>
    <img class="BenefitImage" src="assets\images\小邊框.png" />
  </div>
  <div class="RecommendationContainer">
    <div class="Text">
      <div class="RankingTitle">
        <div class="Recommendation">Recommendation</div>
        <div class="MostFollowed">最多人關注</div>
        <div class="TopPets">點擊率前三寵物</div>
      </div>
    </div>
    <div class="CardContainer">
      <!-- 這裡將前三遍歷上去 -->
      <div class="Card">
        <img class="PetImage" src="assets\images\黃金獵犬.jpg" />
        <div class="PetDetails">
          <img class="MapMarker" src="assets\images\map-marker.png" />
          <span class="Location">台中市</span>
          <img class="paw" src="assets\images\paw.png" />
          <span class="PetType">狗</span>
          <img class="couple" src="assets\images\couple.png" />
          <span class="Gender">公</span>
        </div>
        <div class="PetName">阿金</div>
        <div class="PetDescription">需要大量散步，個性親人活潑</div>
        <div class="Requirements">
          <div class="AgeRequirement">需年滿20歲</div>
          <div class="TrackingRequirement">需接受後續追蹤</div>
          <div class="FamilyApprovalRequirement">需家人同意</div>
          <div class="AgreementRequirement">需簽署養切結書</div>
        </div>
      </div>
      <div class="Card">
        <img class="PetImage" src="assets\images\貓貓.jpg" />
        <div class="PetDetails">
          <img class="MapMarker" src="assets\images\map-marker.png" />
          <span class="Location">台南市</span>
          <img class="paw" src="assets\images\paw.png" />
          <span class="PetType">貓</span>
          <img class="couple" src="assets\images\couple.png" />
          <span class="Gender">母</span>
        </div>
        <div class="PetName">小咪</div>
        <div class="PetDescription">喜歡乾食，不行與其他寵物一起養</div>

        <div class="Requirements">
          <div class="AgeRequirement">需年滿20歲</div>
          <div class="TrackingRequirement">需接受後續追蹤</div>
          <div class="FamilyApprovalRequirement">需家人同意</div>
          <div class="AgreementRequirement">需簽署養切結書</div>
        </div>
      </div>
      <div class="Card">
        <img class="PetImage" src="assets\images\狗狗.jpg" />
        <div class="PetDetails">
          <img class="MapMarker" src="assets\images\map-marker.png" />
          <span class="Location">高雄市</span>
          <img class="paw" src="assets\images\paw.png" />
          <span class="PetType">狗</span>
          <img class="couple" src="assets\images\couple.png" />
          <span class="Gender">母</span>
        </div>
        <div class="PetName">格格</div>
        <div class="PetDescription">天生有疾病，需要定期去醫院檢查</div>
        <div class="Requirements">
          <div class="AgeRequirement">需年滿20歲</div>
          <div class="TrackingRequirement">需接受後續追蹤</div>
          <div class="FamilyApprovalRequirement">需家人同意</div>
          <div class="AgreementRequirement">需簽署養切結書</div>
        </div>
      </div>
    </div>
  </div>
</body>
