<div class="memberManagement">
  <p class="memberManagementTitle">會員管理</p>
  <div class="Line"></div>
  <input type="radio" name="search" />會員編號
  <input type="radio" name="search" />會員信箱
  <input type="text">
  <button class="searchButton">查詢</button>
  <table>
    <div class="tableTitle">
      <thead>
        <th>會員編號</th>
        <th>會員信箱</th>
        <th>狀態</th>
        <th></th>
      </thead>
    </div>
    <tbody>
      <!-- 要遍歷 -->
      <div class="tableBody">
        <tr>
          <td>1</td>
          <td>coco@gmail.com</td>
          <td>啟用中</td>
          <td><input type="radio" name="petSelected"></td>
        </tr>
      </div>
      <div class="tableBody">
        <tr>
          <td>2</td>
          <td>fifi@gmail.com</td>
          <td>已停權</td>
          <td><input type="radio" name="petSelected"></td>
        </tr>
      </div>
    </tbody>
  </table>
  <!-- 這裡的按鈕應該要有點選才出現，並出現在點選資料下方 -->
  <div class="buttonContainer">
    <button>帳號啟用</button>
    <button>帳號停權</button>
  </div>
</div>
